.App{

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background-color:#282c34;
  color: white;

}

.container{
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}
.todoform{
  display: flex;
  width: 450px;
  justify-content: space-around;
}
input{
  width: 80%;
  border: none;
  border-radius: 20px;
}
button{
  border-radius: 10px;
  border: none;
  padding: 6px;
  margin: 0 5px;
}
.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}
.todoText {
  flex: 1;
}